.header{
    background-color: darkblue;
}

.href{
    background-color: darkblue;
    margin: 0px;
    padding: 50px;
    color:  white;
    font-family: lobster;
    font-size:25px;

}

.nav{
  background-color: darkblue;
  margin: 0px;
  padding: 50px;
  color:  white;
  font-family: lobster;
  font-size:25px;
}

.nav a{
  display: block;
  padding: 14px 16px;
  color:white;
  text-decoration: none;
  float: left;



}

 img{
    width: 20%;
    height:15%;
    float: right;
}



.href a:hover{
  background-color: lightblue
}

.drama{
  background-color: darkblue;
  margin: 0px;
  padding: 20px;
  color:  white;
  font-family: lobster;
  font-size:25px;
}


.IBDP{
  background-color: darkblue;
  margin: 0px;
  padding: 20px;
  color:  white;
  font-family: lobster;
  font-size:25px;
}

h1{
color:  white;
font-family: lobster;
font-size:30px;
text-align: center;
font-style: italic;
}

h3{
  color: white;
  font-family: lobster;
  font-size: 35px;
  text-align: center;
  font-style: normal;
}

p{
  color: white;
  font-family: lobster;
  font-size: 20px;
  text-align: center;
  font-style: normal;
}

h2{
  color: white;
  font-family: lobster;
  font-size: 25px;
  text-align: center;
  font-style: normal;
}

h4{
  color: white;
  font-family: lobster;
  font-size: 20px;
  text-align: left;
  font-style: normal;
}

h5{
color:  white;
font-family: lobster;
font-size:20px;
text-align: left;
font-style: italic;
}

h6{
  color: white;
  font-family: lobster;
  font-size: 20px;
  text-align: left;
  font-style: normal;
}

body{
  background-color:steelblue;
}

img{
    width: 20%
    height: 15%
}

a{
  color: white;
  font-family: lobster;
  font-size: 20px;
  text-align: left;
  font-style: normal;
}


.button{
  display: square;
  height:20%;
  border: no-borders;
  background-color: lightblue;
  color: black;
  font-family: lobster;
  font-size: 25px;
  text-align: right;


}

.menu a, .footerbar{
  background-color: darkblue;
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.menu a, .footerbar{
  display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  float: left;
}

.footerbar{
  color: white;
  font-family: lobster;
  font-size: 20px;

}

.menu a:hover, .footerbar a:hover{
  background-color: lightblue;
}
